<div th:fragment="navbar">
  <div class="row" style="margin: 0px;">
    <div class="col">
      <nav class="navbar navbar-dark navbar-expand-sm bg-dark py-3"
           style="margin: 0px;padding-left: 0px;margin-left: -12px;margin-right: -12px;">
        <div class="container-fluid">
          <a class="navbar-brand d-flex align-items-center">

          </a>
          <a type="submit" href="/logout" class="link-secondary text-decoration-none">Logout</a>

        </div>
      </nav>
    </div>
  </div>
</div>
